/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/
label.error, div.error{
	color: darkred;
	font-size: 10px;
	display: none;
}

input.default, textarea.default{
	color: black;
	border: 2px solid darkgray;
	border-radius: 5%;
}

input.error, textarea.error{

	border: 2px solid red;
	
}

.form-container{
	margin-top: 10px;
}

time.fc-endtime{
	display: none !important;
}